[submodule "themes/next"]
	path = themes/next
	url = https://github.com/liziwl/hexo-theme-next-mod.git
[submodule "source/photos/images"]
	path = source/photos/images
	url = https://e.coding.net/liziwl/BlogPhotos.git
